
/* Popular Courses */
.cours-bx .info-bx{
	padding:15px;
	font-size: 13px;
}
.cours-bx .action-box .btn{
	border-radius: 0;
	position: absolute;
	bottom: 0;
	left: -50%;
	transition:all 0.5s;
	-moz-transition:all 0.5s;
	-ms-transition:all 0.5s;
	-o-transition:all 0.5s;
	-webkit-transition:all 0.5s;
}
.cours-bx:hover .action-box .btn{
	left: 0;
}
.cours-bx{
	box-shadow:0 0 25px 0 rgba(29,25,0,0.25);
	border-radius: 4px;
    overflow: hidden;
}
.cours-more-info{
	border-top: 1px solid #e6e6e6;
	display: flex;
	margin: 0;
}
.cours-star{
	margin:0;
	padding:0;
}
.cours-star li{
	display: inline-block;
	list-style:none;
	color:#d1d1d1;
	font-size:13px;
}
.cours-star li.active{
	color:var(--primary);
}
.cours-more-info .price,
.cours-more-info .review{
	width:50%;
	padding:5px 15px;
}
.cours-more-info .review span{
	font-size:12px;
	color:#3c3c3c;
}
.cours-more-info .price del{
	font-size:12px;
	font-weight:500;
	color:#8e8e8e;
}
.cours-more-info .review{
	border-right: 1px solid #e6e6e6;
}
.cours-more-info .price {
	text-align:right;
}
.cours-more-info .price h5{
	margin-bottom:0;
}
.courses-carousel{
	margin-top:-15px;
}
.courses-carousel .item{
	padding:15px;
}
.courses-carousel .owl-nav{
	position: absolute;
    top: -70px;
    right: 10px;
}
.testimonial-carousel .owl-nav{
	position: absolute;
    top: -80px;
    right: -5px;
}
.recent-news-carousel .owl-nav{
	position: absolute;
    top: -80px;
    right: -5px;
}
@media only screen and (max-width: 576px) {
	
	.counter-style-1 .counter-text{
		font-size: 12px;
		font-weight: 400;
	}
	.profile-head{
		padding: 10px 15px 10px 15px;
	}
	.edit-profile{
		padding:15px;
	}
	.courses-filter {
		padding: 15px 15px 0 15px;
	}
	.online-cours h5 {
		font-size: 14px;
	}
	.online-cours h2 {
		font-size: 24px;
		margin-bottom: 5px;
	}
}

/* Profile Box */
.profile-bx{
	border:1px solid #e9e9e9;
	position:sticky;
	top:100px;
}
.user-profile-thumb{
	width:100px;
	height:100px;
	overflow:hidden;
	border-radius:100px;
	border: 5px solid #fff;
	box-shadow:0 0 15px 0 rgba(0,0,0,0.2);
	margin:25px auto 15px; 
}
.profile-info{
	margin-bottom:15px;
}
.profile-info h4{
	font-size:18px;	
	margin-bottom: 0;
}
.profile-info span{
	font-size:14px;
	color:#717171;
}
.profile-social ul li a{
	width: 35px;
    height: 35px;
    display: block;
    text-align: center;
    border: 1px solid #e9e9e9;
    line-height: 34px;
    border-radius: 40px;
    color: #000;
    font-size: 14px;
}
.profile-social{
	border-bottom: 1px solid #e9e9e9;
	padding-bottom:15px;
}
.profile-content-bx{
	border: 1px solid #e9e9e9;
}
.profile-tabnav{ 
	margin:20px 0;
}
.profile-tabnav .nav{ 
	border:0;
}
.profile-tabnav .nav li{  
	display:block;
	width:100%;
}
.profile-tabnav .nav li a{
	border:0;
	color: #8a8a8a;
	font-size: 15px;
	text-align: left;
	padding: 10px 30px;
}
.profile-tabnav .nav li a.active{
	background-color: var(--primary);
	color: #fff;
	border-radius: 0;
}
.profile-tabnav .nav li a i{
	margin-right:10px;
}
.profile-head h3{
	font-size:20px;
	text-transform:uppercase;
	margin-bottom:0;
	font-weight:500;
}
.profile-head{
	display:flex;
	padding: 10px 15px 10px 30px;
	border-bottom: 1px solid #e9e9e9;
	align-items: center;
}
.profile-head .feature-filters{
	margin-bottom:0;
}
.courses-filter .action-card{
	margin-bottom:30px;
}
.courses-filter{
	padding:30px 30px 0 30px;
}
.profile-head .feature-filters.style1 li a{
	font-weight: 400;
	font-size: 15px;
}
.edit-profile h3{
	font-size: 18px;
	font-weight: 400;
	margin: 0;
}
.edit-profile .help{
	font-size:12px;
	line-height:18px;

	display: block;
}
.edit-profile .col-form-label{
	font-size:14px;
	font-weight: 400;
}
.edit-profile{
	padding:30px;
}
.edit-profile .form-group {
	margin-bottom: 15px;
}

.all-review .rating-type{
	margin:0;
	font-size: 35px;
	line-height: 40px;
}

.course-detail-bx .cours-more-info .price span {
    font-size: 12px;
    color: #3c3c3c;
}
.course-detail-bx .cours-more-info .price h5{
	font-size:16px;
	font-weight:400;
}
.course-detail-bx .cours-more-info {
    border-bottom: 1px solid #e6e6e6;
    display: flex;
    margin: 0;
    border-top: 0;
	margin: 0 -20px;
}
.course-detail-bx .cours-more-info .price, .cours-more-info .review {
    padding: 8px 20px;
}
.course-info-list{
	padding-top:20px;
	margin:0 -20px;
}
.course-info-list ul{
	list-style:none;
	margin:0;	
	padding: 0;
}
.course-info-list ul li{
	display: block;
	width: 100%;
}
.course-info-list ul li a{
	padding: 8px 20px;
	font-size: 15px;
	color: #808080;
	display: flex;
	align-items: center;
	transition:all 0.5s;
	-moz-transition:all 0.5s;
	-webkit-transition:all 0.5s;
	-ms-transition:all 0.5s;
	-o-transition:all 0.5s;
}
.course-info-list ul li a.active,
.course-info-list ul li a:hover{
	color:#fff;
	background: var(--primary);
}
.course-info-list ul li a i{
	margin-right:10px;
	font-size:20px;
}
.courses-post .post-title{
	font-size:35px;
	font-weight:500;
}
.course-features{
	margin:0;
	margin-bottom: 30px;
	padding:0;
	list-style:none;
	position:sticky;
	top:80px;
}
.course-features li{
	padding:15px 20px;
	border-bottom:1px solid rgba(0,0,0,0.1);
	display:flex;
	font-size:14px;
	align-items: center;
}
.course-features li i{
	margin-right:10px;
	font-size:16px;
	color:var(--primary);
}
.course-features li .label{
	width:60%;
}
.course-features li .value{
	width:40%;
}